# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Manim
media/

# Cache
.cache/

# IDEs / Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

animacoes/**/videos/